name: CI - Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  validate-code:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set Up JDK 23
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Check Formatting (Spotless)
        run: ./gradlew spotlessCheck

      - name: Run Unit Tests
        run: ./gradlew test

      - name: Security Scan (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          scan-ref: '.'
          scan-type: 'fs'
          trivy-config: trivy.yaml
          exit-code: '0' # don't end pipeline when error occurs
          ignore-unfixed: true